@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-05 10:00:14
 * @version $Id$
 */
#myMap{
	float: left;
	margin: 10px 0 0 10px;
	width: 900px;
	height: 600px;
}

#result{
	float: right;
	margin: 10px 0 0 10px;
	width: 400px;
	height: 500px;
}